@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Cuprum);
body{
	background:rgb(235, 235, 224);
}
#button2, #button3, #button4, #button5, #button6{
	color:white;
}
#navbar-lam{
	background:rgb(0, 26, 26);
	border:none;
}
#nav-list1 a:hover{
	color:orange;
	text-transform: uppercase;
}
#nav-list1 li{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
}


.logo{
	position: relative;
	margin:0 auto;
}
.slide1{
	position: relative;
	margin:0 auto;
	max-width: 1100px;
}

.section2-image{
	margin-left:auto;
	margin-right: auto;
	position: relative;
}

.text-section2{
	text-align: center;
}
.text-des-sec2{
	position: relative;
	margin-left:10px;
}
.section2{
	background:white;
	max-width: 1100px;
}

.link-icon{
	color:white;
	position: relative;
	
}

.link-icon:hover{
	color:orange;
}
.footer{
	background:rgb(0, 26, 26);
}
.footer-image{
	position: relative;
	margin:0 auto;
}
.footer-link li{
	display:inline-block;
	padding:10px;
	color:white;
}
.footer-link a{
	color:white;
}

.footer-link{
	position: relative;
	margin-left:25%;
}
.credit{
	color:white;
	text-align: center;
}
